.location-map {
    width: 100%;
    height: 360px;
    margin-block: 60px;
}

.budget-form-field {
    .social-media {
        margin-top: 10px;
    }

    .data-address {
        margin-top: 15px;
    }
}